# Set default behavior to automatically normalize line endings.
* text=auto

# Treat these files as binary
*/Resources/profile-v3-steam.bin    binary
*/Resources/encrypted-v1-epic.bin   binary
*/Resources/encrypted-v1-steam.bin  binary
*/Resources/encrypted-v2-epic.bin   binary
*/Resources/encrypted-v2-steam.bin  binary
*/Resources/encrypted-v3-steam.bin  binary
*/Resources/profile-v1-epic.bin     binary
*/Resources/profile-v1-steam.bin    binary
*/Resources/profile-v2-epic.bin     binary
*/Resources/profile-v2-steam.bin    binary